<div class="panel" style="padding: 10px;border:1px solid black; border-radius:5px">
<h3>{{question.heading}}</h3><button class="delete" {{action 'delete' question}}>Delete Question </button>
<h5>posted by {{question.author}}</h5>
  <p>"{{question.notes}}"</p>
</div>

<div class="panel" style="background-color: white; padding: 10px;"><br>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
</div>
