{{#if updateQuestionForm}}
  <h4> Update {{question.author}}'s question </h4>
  <div>
    <form>
      <div class="form-group">
        <label for="heading">Question</label>
        {{input value=question.heading id="heading"}}
      </div>
      <div class="form-group">
        <label for="author">Posted by</label>
        {{input value=question.author id="author"}}
      </div>
      <div class="form-group">
        <label for="notes">Further info</label>
        {{input value=question.notes id="notes"}}
      </div>
      <button {{action 'update' question}}>Save</button>
    </form>
  </div>

  {{else}}

  <button {{action 'updateQuestionForm'}}>Update</button>
  {{/if}}
